:root {
    --darkgray: #212329;
    --brightred: #f9423D;
    --white: #fff;
    --lightred: #f9433dcc;
    --dullpink: #a91453;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #343a40;
}

header {
    width: 100%;
    height: 87.8vh;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../img/gym.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30%;
}

main {
    padding-top: 170px;
    margin-left: -200px;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: left;
    color: white;
}

section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-family: "Oswald", sans-serif;
}

section p {
    font-size: 15px;
    color: #eee;
    word-spacing: 5px;
    margin-bottom: 25px;
    letter-spacing: 8px;
}

.blog-box {
    background-color: var(--darkgray);
    height: 550px;
    width: 100%;
}

.blog-box h4 {
    font-size: 20px;
    text-align: center;
    color: #a91453;
    padding-top: 60px;
}

section .span-title {
    color: #a91453;
}

.blog-box h2 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
}

.nav-container {
    width: 100%;
    background-color: #343a40;
}

.row {
    color: #fff;
}

.row .col {
    width: 22%;
    padding-top: 80px;
    padding-left: 80px;
    display: inline-block;
    margin-bottom: 50px;
}

.row p {
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.row1 .col {
    display: inline-block;
}

.row .col h4 {
    color: #fff;
    padding-top: 40px;
}

.rad {
    position: absolute;
    border-radius: 50%;
    background-color: #212329;
    height: 100px;
    width: 100px;
}

.rad1 {
    left: 10%;
    top: 130%;
}

.rad2 {
    left: 32.2%;
    top: 130%;
}

.rad3 {
    left: 54.6%;
    top: 130%;
}

.rad4 {
    left: 77%;
    top: 130%;
}

.image {
    height: 70px;
    width: 80px;
    position: relative;
}

.info {
    display: flex;
    /* horizontal arrangement of content */
    justify-content: space-evenly;
    background-color: #151515;
    align-content: space-around;
}

.row .col img {
    width: 62%;
    height: 60px;
    margin-left: 80px;
    padding-top: 10px;
    color: #a91453;
}

.container1 {
    text-align: center;
    padding-top: 100px;
}

.blog-box1 h4 {
    color: #a91453;
    font-size: 18px;
}

.blog-box1 h2 {
    color: #fff;
    padding-top: 10px;
}

.image1 {
    margin-top: 90px;
    margin-left: -30px;
}

.container1 .col1 {
    margin-top: 10px;
    margin-left: 100px;
    background-color: var(--darkgray);
    width: 23%;
}

.container1 .col2 {
    margin-top: 10px;
    margin-left: 100px;
    background-color: var(--darkgray);
    width: 23%;
}

.image1 img {
    height: 40vh;
    width: 320px;
    margin-left: 32.5px;
}

.col2 .image2 {
    background-color: #343a40;
}

.image2 img {
    width: 200px;
    height: 40vh;
}

.rad:hover {
    background-color: #5c5c5c;
}

.row .col img :hover {
    color: #fff;
}

.col1 h4 {
    color: #a91453;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    margin-top: 20px;
}

.col1 h2 {
    color: var(--white);
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}

.row {
    background-color: #343a40;
}

.services {
    padding-bottom: 100px;
}

.col-lg-4 {
    display: inline-block;
    width: 30%;
    height: 200px;
}

.col-lg-6 {
    display: inline-block;
}

.classes-section {
    background: #151515;
    padding-bottom: 80px;
}

.classes-section .section-title {
    margin-bottom: 35px;
}

.class-item {
    overflow: hidden;
    margin-bottom: 30px;
}

.class-item .ci-pic img {
    min-width: 30%;
    height: 350px;
    width: 550px;
    margin-left: 50px;
    margin-top: 65px;
}

.class-item .ci-text {
    background: #0a0a0a;
    position: relative;
    width: 67%;
    padding: 10px 30px 26px 30px;
    z-index: 1;
    margin-left: 50px;
}

.class-item .ci-text:after {
    position: absolute;
    left: -5px;
    top: -44px;
    height: 150px;
    width: 552px;
    margin-left: 9px;
    border-top: 4px solid #464646;
    background: #0a0a0a;
    content: "";
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
}

.class-item .ci-text span {
    color: #a91453;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.class-item .ci-text h5 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4px;
}

.class-item .ci-text h4 {
    font-size: 26px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4px;
}

.class-item .ci-text a {
    display: inline-block;
    width: 46px;
    height: 46px;
    background: rgba(255, 255, 255, 0.1);
    line-height: 46px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    left: 282px;
    bottom: 26px;
}

.col-lg-6 .ci-text a {
    left: 450px;
}

.registration {
    width: 100%;
    height: 87.8vh;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../img/kettle_workout.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30%;
    text-align: center;
}

.registration .row1 {
    margin-top: 300px;
    text-transform: uppercase;
}

.row1 h1 {
    font-size: 40px;
}

.row1 h3 {
    margin-top: 30px;
    color: #adad85;
    margin-bottom: 40px;
}

.btnone1 {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    border-style: groove;
    border-color: #ee0e6b;
}

.btnone1:hover {
    background-color: #a91453;
}

.pics {
    background-color: #343a40;
    text-align: left;
}

.button {
    width: 30%;
    float: right;
    margin-top: 25px;
}

.picss,
.button {
    display: inline-block;
}

.team {
    padding: 100px 0;
}

.team p {
    margin-left: 100px;
    color: #a91453;
    font-size: 20px;
}

.team h1 {
    color: white;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 30px;
}

.btnone2 {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    width: 50%;
    float: right;
    margin-right: 120px;
    padding: 15px 40px;
    border-style: groove;
    border-color: #ee0e6b;
    margin-top: -10px;
}

.btnone2:hover {
    background-color: #a91453;
}

.img_slider {
    padding-left: 100px;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 60px;
    display: inline-block;
}

.img_slider img {
    width: 300px;
    height: 60vh;
}

.img_slider ul {
    list-style-type: none;
}

.info table {
    margin-top: 100px;
    padding-left: 100px;
    background-color: #151515;
    width: 100%;
}

.info img {
    border-radius: 50%;
    background-color: #ee0e6b;
    height: 60px;
    padding: 5px 5px;
    padding-bottom: 10px;
    width: 60px;
}

.info p {
    color: white;
}

.semi_final {
    background-color: #ee0e6b;
}

.container1 {
    background-color: #343a40;
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 98%;
    max-width: 1720px;
    margin: 0 auto;
}

.navbar img {
    width: 100px;
    height: 80px;
    margin-left: 40px;
}

#navbar-logo {
    color: white;
    justify-self: start;
    margin-left: -80px;
}

#navbar-logo {
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.btnone {
    background-color: #a91453;
    color: #fff;
    text-decoration: none;
    margin-top: 80px;
    padding: 15px 40px;
    border-radius: 8px;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links:hover {
    color: #a91453;
    transition: all 0.2s ease-out;
}

.nav-links-btn {
    background-color: #a91453;
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover {
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px #a91453;
    transition: all 0.3s ease-out;
}

.menu-toggle {
    display: none;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}

@media screen and(max-width:768px) {
    .nav-container {
        position: relative;
    }
    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: #a91453;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    #navbar-logo {
        margin-left: 20px;
    }
    .nav-menu.active {
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: #a91453;
        color: var(--white);
        transition: all 0.4s ease-out;
    }
    .navbar {
        width: 100%;
    }
    .navbar-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
    }
    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: #a91453;
        color: var(--white);
        transition: all 0.4s ease-out;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%)
    }
    .menu-toggle.bar {
        display: block;
        cursor: pointer;
    }
    .menutoggle:hover {
        cursor: pointer;
    }
    #mobile-menu.is-active.bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active.bar:nth-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }
    #mobile-menu.is-active.bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.background-image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 80%;
}

.semi-final {
    background-color: #151515;
    /* padding-left: 40px;
    margin-top: 100px;
    padding-top: 20px; */
    height: 150px;
}

.block1,
.block2,
.block3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}

.block1>p,
.block2>p,
.block3>p {
    padding-left: 12px;
    width: 200px;
}

.block1>img,
.block2>img,
.block3>img {
    height: 60px;
    width: 60px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.last-block {
    background-color: #0a0a0a;
    color: white;
    padding: 25px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

.last {
    margin-left: 20px;
}

.last img {
    height: 100px;
    width: 100px;
    margin-left: 80px;
}

.last,
.last1,
.last2,
.last3 {
    display: inline-block;
    text-decoration: none;
    width: 22%;
    margin-right: 10px;
}

.last1 ul,
.last2 ul {
    list-style-type: none;
}

.last-block hr {
    margin-top: 60px;
}

.last p {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
}

.last1 h2 {
    font-size: 25px;
}

.last1 ul {
    margin-top: 20px;
}

.last2 h2 {
    font-size: 25px;
}

.last2 ul {
    margin-top: 20px;
}

.last3 h2 {
    font-size: 20px;
    margin-top: 20px;
}

.last3 p {
    font-size: 15px;
    padding-top: 15px;
}

.last3 hr {
    margin-top: 15px;
}

.last3 .para {
    color: #b8b894;
    font-size: 12px;
    opacity: 50px;
}